<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            tilting.me | {{title}}
        </title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet"
            href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/docco.min.css">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism.css" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1">
    </head>
    <body>
        <nav>
            <h1 class="title">
                <a href="/">
                    tilting.me
                </a>
            </h1>
            <input type="checkbox" class="menu-checkbox" id="nav-checkbox"/>
            <label id="menu-button" for="nav-checkbox">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/resume/">Resume</a></li>
            </ul>
        </nav>