<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="/css/resume.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <meta name="viewport" content="initial-scale=1">
    </head>
    <body>
        <div class="header">
            <h1>Joshua Koike</h1>
            <div class="contact">
                <span id="phone_no">Phone #: (808)206-6785</span>
                |
                <span id="email"><a href="mailto:jk@tilting.me">Email: jk@tilting.me</a></span>
            </div>
        </div>
        <div class="contents">
            {{{content}}}
        </div>
        <div class="footer no-print">
            <span class="align-right">This is the live version of my resume. For a static PDF, see <a href="static/resume.pdf">here</a></span>
            <span class="home"><a href="/">tilting.me</a></span>
        </div>
    </body>
</html>